$primaryViolet: hsl(257, 40%, 49%);
$primarySoftMagenta: hsl(300, 69%, 71%);

%headingPoppins400 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

%headingPoppins600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


%OpenSans400 {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
}

%BackgroundImage {
    background-color: $primaryViolet;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .2s;
    background-attachment: fixed;
    @media screen and (min-width:768px) {
        background-image: url(bg-desktop.svg);
    }
    @media screen and (max-width:768px){
        background-image: url(bg-mobile.svg);
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    min-height: 100vh;
    @extend %BackgroundImage;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .main-logo {
        width: 80%;
        padding: 20px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .logo {
            max-width: 264px;
            width: 100%;
            @media screen and (max-width:425px) {
                width: 60%;
            }
        }


    }

    .main-content {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;

        @media screen and (max-width:768px) {
            flex-direction: column;
        }

        .illustration {
            max-width: 709px;
            width: 47.5%;
            height: auto;
            display: block;
            @media screen and (max-width:768px) {
                width: 100%;
            }
        }

        .text-and-btn {
            width: 47.5%;
            color: #fff;
            @media screen and (max-width:768px) {
                width: 100%;
                text-align: center;
            }

            & > h2 {
                @extend %headingPoppins600;
                font-size: 2.6rem;
                line-height: .8em;

                @media screen and (max-width: 1024px) {
                    font-size: 2.2rem;
                }

                @media screen and (max-width:425px) {
                    font-size: 2rem;
                }

                @media screen and (max-width: 320px){
                    font-size: 1.4rem;
                }
            } 

            & > p {
                @extend %headingPoppins400;
                font-size: 1.4rem;
                margin-bottom: 40px;

                @media screen and (max-width: 1024px) {
                    font-size: 1.2rem;
                }

                @media screen and (max-width:425px) {
                    font-size: 1.1rem;
                }

                @media screen and (max-width: 320px){
                    font-size: 1rem;
                }

            }

            & > button {
                @extend %OpenSans400;
                font-size: 1.2rem;
                padding: 20px 80px;
                border-radius: 50px;
                border: none;
                background-color: #fff;
                color: $primaryViolet;
                cursor: pointer;
                transition: all 0.3s ease-out;
                outline: none;

                @media screen and (max-width:1024px) {
                    width: 100%;
                }
                
                @media screen and (max-width:425px) {
                    font-size: 1.1rem;
                    padding: 15px 0;
                }

                &:hover {
                    color: #fff;
                    background-color: $primarySoftMagenta;
                }
            }
        }
    }
    .main-links {
        width: 80%;
        padding: 20px 0;
        display: inline-flex;
        justify-content: flex-end;

        @media screen and (max-width:1024px) {
            justify-content: center;
            padding: 40px 0;
        }

        & > a {
            color: #fff;
            border-radius: 50%;
            border: 2px solid #fff;
            width: 50px;
            height: 50px;
            text-align: center;
            margin: 0 20px;
            transition: all .3s ease-out;

            .fa-facebook-f {
                font-size: 1.6em;
                padding: 10px 1px;
            }

            .fa-twitter {
                font-size: 1.7em;
                padding: 9px 0;
                padding-left:1px;
            }

            .fa-instagram {
                font-size: 1.9em;
                padding: 8px 1px;
            }
            &:hover {
                color: $primarySoftMagenta;
                border-color: $primarySoftMagenta;
            }
        }
    }
}

//alléger au possible
